html {
    background: url(https://images.unsplash.com/photo-1518169998863-07b9ca9294ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
    background-repeat: repeat;
    min-height: 200px;

}

@media all and (max-width:480px) {
    html * {
       font-size : 18px;
      }
  }
