html {
    background: url(background-map-img.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;

}


/* body > #root > div {
    height: 100vh;
  } */


@media only screen and (min-width : 768px) and (max-width : 1024px) {
    html  {
        margin: 0 auto;
        padding: 0;
    }

}
