html {
    background: url(background-map-img.jpg) center center fixed;
    background-repeat: no-repeat;
    /* background-size: cover; */

}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    html  {
        margin: 0 auto;
        padding: 0;
    }

}
