.eachWord {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
  font-size: 21px;
  text-align: left;
  width: 65%;
  background-color: #f6f5f3;
}

.eachWord > * {
  flex: 1 100%;
}

.wordTitle{
  order: 1;
  background-color: #f9f8fd;
  color: #3d3d3f;
  outline: 1px solid rgba(125,206,148, 0.4);
   /* rgba(0,0,0,0.1); */
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 8px;
  margin: 2px;
  padding-left: 15px;
  /* width: 100%; */
}

.wordDefinition{
  order: 2;
  background-color: #f9f8fd;
  color: #3d3d3f;
  outline: 1px solid rgba(125,206,148, 0.4);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 8px;
  margin: 2px;
  padding-left: 15px;

}

span{
  /* background-color: white; */
  max-width: 30%;
  border-radius: 10px;
  min-height: 8%;
  margin-bottom: 10px;
  border: 1px solid white;
}
/* .red{
 background-color: rgba(255,0,0, 0.5);
}

.yellow{
  background-color: rgba(255,255,0, 0.5);
}

.green{
  background-color: rgba(0,128,0, 0.5);
} */

#deleteWordBtn{
  flex: 0.5;
  padding: 4px;
  margin: 5px;
  outline: 1px solid rgba(61,61,63,0.4);
  background-color: #f9f8fd;
  order: 3;
}

#deleteWordBtn:hover{
  background-color: #3d3d3f;
  color: white;
  outline: none;
}

#editWordBtn{
  flex: 0.5;
  padding: 4px;
  margin: 5px;
  outline: 1px solid rgba(61,61,63,0.4);
  background-color: #f9f8fd;
  order: 4;
}

#editWordBtn:hover{
  background-color: #3d3d3f;
  color: white;
  outline: none;
}

@media all and (max-width:480px) {
  .eachWord {
      margin-top: 4px;
      font-size: 14px;
      min-width: 90%;
      padding: 0;
  }
  

}