
.getStarted {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  Link > button {
    align-items: baseline;
  }
  
  .link {
    text-decoration: none;
    background-color: pink;
  }

  .getStarted {
    min-width: 45%;
    max-height: 10%;
    margin: auto 0;
    padding: 10px;
  }

  .linktosignup > button{
    background-color: green;
  }

  .getStartedBtnDiv {
    padding: 100px;
  }
