.howItWorks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .howToSteps{
    border: 2px solid  #7dce94;
    padding: 10px;
    align-items: baseline;
    max-width: 30%;
  }