* {
  /* background-color: #f9f8fd; */
  margin: 0;
}


.linkToSignup{
  background-color: white;
  min-height: 200px;
  margin: 0 auto;
  padding: 75px 0;
  text-align: center;
  margin-bottom: 60px;
}

button {
  margin-top: 15px;
  min-width: 18%;
  align-self: center;
  padding: 18px;
  font-size: 16px;
  color: #3d3d3f;
  font-family: arial;
  background-color: white;
}

button:hover {
  color: #3d3d3f;
  background-color: #7dce94;
}


@media all and (max-width:480px) {
  .linkToSignup {
      font-size: 14px;
      min-width: 90%;
      padding: 0;
      min-height: 25px;
      padding-bottom: 14px;
  }

}