* {
  background-color: #f9f8fd;
  margin: 0;
}

.img-Left {
  min-width: 33%;
  align-items: baseline;
  margin: 0;
  /* padding: 18px; */
  background: url(https://images.unsplash.com/photo-1518169998863-07b9ca9294ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60) no-repeat; 
}

.img-Right{
  min-width: 33%;
  align-items: baseline;
  margin: 0;
  background: url(https://images.unsplash.com/photo-1518169998863-07b9ca9294ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60) no-repeat;
  /* padding: 18px; */

}

.linkToSignup{
  min-height: 200px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
  /* padding: 100px 0; */
}

button {
  min-width: 15%;
  margin: 0;
  align-self: center;
  padding: 18px;
  font-size: 16px;
  color: #3d3d3f;
  font-family: arial;
  background-color: white;
}

button:hover {
  color: #3d3d3f;
  background-color: #7dce94;
}