* {
    font-family: arial;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #f9f8fd;
  }
  
  nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: right;
     background-color: #ddd
  }
  
  .nav-link {
    padding: 10px;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
  }
  
  .navLink {
    text-decoration: none;
    font-size: 18px;
    color: #3d3d3f;
  }
  
  .navLink:hover{
    text-decoration: none;
    color: #aaa;
  }